@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #FFF5EE;
    font-family: 'ubuntu' , sans-serif;
}

#header{
    width: 100%;
    background-size: cover;
    background-position: center;

}
.container{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 121px;
    height: 55px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 25px;
}

nav ul li a{
    color: #FFF5EE;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after{
    content: '';
    background: #D13D31;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -4px;
    position: absolute;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-main{
    display:flex;
    justify-content: space-between;
}

.header-text{
    margin-top:200px;
    font-size:24px;
}
.header-text2{
    display: none;
}

.header-text h1{
    font-size: 96px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.header-text p span{
    color:#D13D31;
   
}
.headerpic{
    width: 453px;
    height: 704px;
 }

 /*-------------about--------------*/
 #about{
    padding-top: 20px;
 }

 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 
 .about-col-1{
    height: 499px;
    width: 381px;
 }

 .about-col-1 img{
    width: 100%;
 }

 .about-col-2{
    flex-basis: 65%;
 }

 .sub-title{
    font-size: 48px;
    font-weight:500;
}

.discription{
    padding-top: 8px;
    color: #929292;
    font-size: 16px;
}

.tab-titles{
    display: flex;
    margin: 24px 0 24px;
}

.tab-links{
    margin-right: 48px;
    font-size: 18px;
    color: #929292;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #D13D31;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color:#929292
}

.tab-contents ul li span{
    color: #D13D31;
    font-size: 14px;
    opacity: 70%;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*----------My Work----------*/
/*#My-sevices{
    padding-top: 30px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin: 20px 70px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    margin: 20px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}*/

/*---------portfolio---------*/
#portfolio{
    padding-top: 50px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #D13D31);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #D13D31;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

/*----------contact----------*/
.contact-left{
    margin-top: 30px;
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
    margin-top: 25px;
}

.contact-left p{
    margin-top: 30px;
    color: #B4ADA9;
}

.contact-left p i{
    color: #D13D31;
    margin-right: 15px;
}

.mail{
    font-size: 25px;
}

.num{
    font-size: 23px;;
}
.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #B4ADA9;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #D13D31;
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #D13D31;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFF5EE;
    transition: 0.5s;
}

.btn:hover{
    background: #D13D31;
}

.btn.btn2{
    display: inline-block;
    background: #D13D31;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 25px;
    margin: 10px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 30px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #929292;

}

.copyright i{ 
    font-size: 14px;
}
nav .fa-solid{
    display: none;
}

.box1{
    background-color: #D13D31;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    margin-top: 290px;
    margin-left: 300px;
    transform: rotate(37deg);
}

.box2{
    background-color: #D13D31;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-top: 170px;
    margin-left: 20px;
    transform: rotate(37deg);
}

.box3{
    background-color: #D13D31;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-top: 550px;
    transform: rotate(37deg);
}

.header-right{
    display: flex;
}

/*---------css for Phone-------*/
@media only screen and (max-width: 600px){
    .header-main{
        background-image: url(Images/image3.png);
        background-size: 250px 480px;
        background-repeat: no-repeat;
        background-position: right center;
        background-position-y: 140px;
    }
    
    .logo{
        width: 70px;
        height: 32px;
    }
    .container{
        padding: 20px 40px;
    }
    
    .header-text{
        display: none;
    }
    .header-main{
        padding-top: 200px;
    }
    .header-text2{
        display: block;
        bottom: 0;
    }

    .header-text2{
        width: 100px;
        font-size: 16px;
        margin-top: 235px;
    }
    
    .header-text2 h1{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .line{
        height: 2px;
        width: 20px;
        margin: 4px 20px;
        background-color: #D13D31;
        border: none;
    }

    .headerpic{
        display: none;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{ 
        background: #D13D31;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    }

    #about{
        padding-top: 10px;
    }
    
    .about-col-1{
        display: none;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        font-size: 30px;
    }

    .about-col-2{
        font-size:14px;

    }
    
    #portfolio{
        padding-top: 10px;;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .mail{
        font-size: 20px;
    }

    .num{
        font-size: 18px;
    }

    

}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}